.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.filter {
    display: flex;
}

.filter-btn{
    margin-left:20px;
}


.res-container {
    display: flex;
    flex-wrap:wrap;
    width: auto;
}

.res-card {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.shimmer-container {
    display: flex;
    flex-wrap:wrap;
    width: auto;
}

.shimmer-cards {
    width: 200px;
    height:200px;
    padding: 5px;
    margin: 5px;
    background-color: grey;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-card > span{
    display: flex;
    justify-content: space-evenly;
}
.res-logo {
    width: 190px;
    height: 190px;
    margin: 5px
}

.cuisines {
    text-wrap: wrap;
}

.login {
    padding:0 20px;
    margin: 5px;
    cursor: pointer;
}

